<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Create New Recipe</title>
  </head>
  <body>
    <h1>Create New Recipe</h1>
    <form action="/recipes" method="POST">
      <p><label>Name </label><input type="text" name="recipe[name]"></p>
      <p><label>Ingredients </label><input type="text" name="recipe[ingredients]"></p>
      <p><label>Cook Time </label><input type="text" name="recipe[cook_time]"></p>

      <p><input type="submit" value="submit"></p>
    </form>
  </body>
</html>
