<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>View A Recipe</title>
  </head>
  <body>
    <h2><%= @recipe.name %></h2>
      <p>Ingredients: <%= @recipe.ingredients %></p>
      <p>Cook Time: <%= @recipe.cook_time %></p>

      <p><form method="post" action="/recipes/<%= @recipe.id %>/delete">
        <input id="hidden" type="hidden" name="_method" value="delete">
        <input type="submit" value="delete">
      </form></p>

      <p><a href="/recipes" >See All Recipes</a></p>
  </body>
</html>
